/* =========== common styles =========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Duke_Fill";
  font-weight: 400;
  src: url(/assets/fonts/apex-legends/DukeFill_web.woff) format("woff");
} */

/* =========== css variables  =========== */

:root {
  --color-temp-one-one: #0a2647;
  --color-temp-one-two: #144272;
  --color-temp-one-three: #205295;
  --color-temp-one-four: #2c74b3;

  --color-temp-two-one: #fd8a8a;
  --color-temp-two-two: #f1f7b5;
  --color-temp-two-three: #a8d1d1;
  --color-temp-two-four: #9ea1d4;

  --color-temp-three-one: #eb455f;
  --color-temp-three-two: #fcffe7;
  --color-temp-three-three: #bad7e9;
  --color-temp-three-four: #2b3467;
}

.section {
  width: 100%;
  height: 100vh;
  /* border: 3px solid red; */
}

.section-one-image {
  background-image: url("../assets/images/aqualization-main.jpeg");
  width: 100%;
  height: 100vh;
  position: relative;
}

.section__one__info {
  position: absolute;
  top: 79%;
  left: 20%;
  font-family: sans-serif;
  font-size: 2rem;
  width: 50%;

  color: rgb(0, 255, 229);
  /* border: 3px solid red; */
  text-align: center;
}

/* Responsiveness */

@media (max-width: 1022px) {
  .section-one-image {
    background-size: cover;
  }
}

@media (max-width: 909px) {
  .section-one-image {
    width: 909px;
  }
}
